<nav class="sidebar">
        <div style="margin-top: 3em;padding-left:4em;padding-right:4em;text-align: center">
            <h1 class="nav-title">SQUID</h1>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" data-to="/stats" href="/stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-to="/groups" href="/groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-to="/rules" href="/rules">Permissions</a>
                </li>
            </ul>
        </div>
</nav>